ny_taxi_postgres_data
*.csv
*.csv.gz
fixtures*.parquet
players_stats*.parquet
*tripdata*.parquet
.terraform/
zoomcamp/
zoom-env/
.prefectignore
*__pycache__*
*.git*
.terraform.lock.hcl
.terraform
terraform.tfstate
terraform.tfstate.backup
